.main {
  margin-bottom: 2rem;
}

.section_header {
  font-size: 1.75rem;
  text-align: center;
}

/* 
   Activity 2: Use CSS grid to create a responsive grid layout for the cards!
   Here's some requirements for the grid below
   1. Each row should have cards with a minimum width of 320px each
   2. Columns should automatically resize so there's more rows when screen size decreases 
   3. Add a 'gap' to create spacing between each item in the grid

   Hint: Think about how to use repeat, auto-fit, minmax together to achieve 1 and 2

*/
.news_cards {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}
